.section-header {
  display: flex;
  height: 32px;
  position: sticky;
  top: 0;
  padding: 8px 12px;
  background-color: rgba(255, 255, 255, 0.8);
  border-color: #ccc;
  border-width: 0 0 0.5px 0;
  border-style: solid;
  font-weight: bold;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
}

.material-icons {
  color: #2196F3;
  opacity: 0.8;
  cursor: pointer;
  transition-duration: 0.2s;
}

.material-icons:hover {
  opacity: 1;
}

.material-icons:active {
  opacity: 0.3;
}
