<div class="container">
  <div class="header-nav">
    <div>Noomnim Chat</div>
    <div>
      Logging in as: {{userService.user.name}}
    </div>
  </div>

  <mat-drawer-container class="example-container" fixedInViewport=false>
    <mat-drawer mode="side" opened disableClose="true">
      <app-chat-group-management></app-chat-group-management>
    </mat-drawer>
    <mat-drawer mode="side" opened disableClose="true" position="end">
      <app-chat-group-member></app-chat-group-member>
    </mat-drawer>
    <mat-drawer-content>
      <app-message-box></app-message-box>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
