.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 1000px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding: 0 24px;
  background: #B4E2E2;
  top: 0;
  left: 0;
  font-size: large;
}

.header-nav div{
  display: inline-block;
}

mat-drawer-container {
  height: inherit;
}

mat-drawer{
  overflow: auto;
}

.box {
  min-width: 600px;
}
