
.spacing {
  padding: 10px;
  width: 90%;
}

.header-nav{
  background: #444;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  font-size: large;
  height: 6vh;
  display: inline;
  align-items: center;
}

.header-nav div{
  display: inline-block;
}

#title{
  position: absolute;
  left: 2%;
}

#nav-user-info{
  position: absolute;
  right: 2%;
}

#nav-user-name{
  color: #0288d1;
  font-weight: bold;
}

app-chat-group{
  grid-row-start: 1;
  grid-row-end: 3;
}

app-chat-message{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}

app-chat-search{
  grid-row-start: 3;
  grid-row-end: 4;
}
