<div class="container search">
  <p class="section-header">Message</p>
  <!-- {{error}}
  <div class="list-container">
    <mat-list>
        <div *ngFor="let message of messages">
          <mat-list-item class="message">{{message.name}}</mat-list-item>
          <mat-divider></mat-divider>
        </div>
      </mat-list>
  </div> -->
  <!-- <mat-form-field class="spacing">
      <input matInput placeholder="New Message" id="new-message" [(ngModel)]="name" (keyup.enter)="onCreateMessage()">
  </mat-form-field>
  <button mat-raised-button class="btn spacing" (click)="onCreateMessage()">Send</button> -->
</div>
