<div class="container search">
  {{error}}
  <mat-form-field class="spacing">
    <input matInput placeholder="Search" id="search" [(ngModel)]="keys" (keyup.enter)="onSearchGroup()">
  </mat-form-field>
  <div class="list-container">
    <mat-list>
        <div *ngFor="let group of groups">
          <mat-list-item>{{group.name}}</mat-list-item>
          <mat-divider></mat-divider>
        </div>
      </mat-list>
  </div>
  <!-- <div>
    New Group: <input type="text" [(ngModel)]="name" (keyup.enter)="onCreateGroup()">
    <button (click)="onCreateGroup()">Create</button>
  </div> -->
</div>
