.container {
  position: relative;
}

.no-group {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.25);
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.group-message {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section-header {
  position: sticky;
  top: 0;
  padding: 8px;
  text-align: center;
  background-color: rgba(255,255,255,0.5);
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  padding-bottom: 20px;
}
