.container {
  position: relative;
}
.no-group {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.25);
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.section-header {
  height: 32px;
  position: sticky;
  top: 0;
  padding: 8px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-color: #ccc;
  border-width: 0 0 0.5px 0;
  border-style: solid;
  vertical-align: middle;
  line-height: 32px;
}
