<div class="container search">
  <div *ngIf="!chatService.currentGroup" class="no-group">
    No group selected
  </div>
  <div *ngIf="chatService.currentGroup" class="group-message">
    <div #scrollMe class="box">
      <p class="section-header">{{chatService.currentGroup.name}}</p>
      <app-message *ngFor="let message of chatService.filterMessage(chatService.currentGroup.id)" [message]="message">
      </app-message>
    </div>

    <app-new-message class="footer" (newMessage)="scrollToBottom()"></app-new-message>
  </div>
</div>
