.chat-group {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.container {
  background-color: #ffffff;
  width: 300px;
  box-sizing: border-box;
}

.group-item {
  cursor: pointer;
  transition-duration: 0.3s;
}

.group-item:hover {
  background-color: #FFCED4;
}

.group-item.selected {
  background-color: #FFCED4;
}

.section-header {
  text-align: center;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btn {
  min-width: auto;
  font-weight: bold;
  color: #fc687c;
}

.image-background {
  position: absolute;
  bottom: 30px;
  left: 50px;
  width: 250px;
  opacity: 0.6;
}
