/* .container{
  display: flex;
  flex-direction: column;
  width: 300px;
  box-sizing: border-box;
  align-items: center;
  background-color: #ffffff;
}

.line {
  margin-top: 16px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
}

.image-background {
  position: absolute;
  bottom: 30px;
  right: 50px;
  width: 250px;
  opacity: 0.6;
} */
