@import url('https://fonts.googleapis.com/css?family=Kanit|Open+Sans|PT+Sans|Pridi');
@import url('@angular/material/prebuilt-themes/indigo-pink.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  margin: 0px;
  font-family: 'Open Sans', Pridi, serif;
  background-color: #f2ffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans', Kanit, serif;
  margin: 16px 0;
}

.spacing {
  padding: 10px;
  width: 90%;
}

.container {
  height: 100%;
}

.list-container {
  overflow: auto;
  width: 100%;
}
