@import url('https://fonts.googleapis.com/css?family=Kanit|Open+Sans|PT+Sans|Pridi');
@import url('@angular/material/prebuilt-themes/indigo-pink.css');

body {
  margin: 0px;
  font-family: 'Open Sans', Pridi, serif;
  color: #333333;
  background-color: #f9fcff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans', Kanit, serif;
  margin: 16px 0;
}
